@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
  margin: 0;
  width: 1920px;
  background: #242b33;
}

.wrapper {
  height: 1080px;
  width: 1298px;
  margin: auto;
}

.header {
  display: flex;
  padding-top: 30px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  width: 60px;
  height: 60px;
}

.nav {
  width: 655px;
  height: 19px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  text-decoration: none;
}

.header-button {
  padding: 9px 15px;
  background: #018ABE;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
}